<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../statics/css/Tablero.css">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Memorama CW 2020</h1>
      <div class="Datos">
        <p id="Vidas"></p>
        <p id="restantes"></p>
        <p id="obtenidos"></p>
        <button type="button" id="Reiniciar">Reiniciar Juego</button>
      </div>
    </header>
    <section id="Tablero">
    </section>
    <script src="../dynamics/Cartas.js" charset="utf-8"></script>
  </body>
</html>
